.Driverimage1{ 
    background-image: url("./Images/dddd3.jpg");
     height: 700px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     overflow-x: hidden;
 }